<%- content_for :main_canvas do %>

<h2>Advice</h2>

    <p>
      <h5>George McAlpine Ltd. is a member of the National Fireplace Association and only supply appliances which conform to GAS SAFE safety standards, although many products include additional safety devices.

      All our gas installers are GAS SAFE registered.</h5>
    </p>

    <div class="adviceImage"><%= image_tag "Advice.gif", :alt=>"fireplce association logo", :title=>"fireplace association logo"%> </div>

    <h3>Appreciation and Understanding of Natural Marbles and Granites</h3>

    <p>
    When purchasing Natural Marbles, Granites, Slate and Stone it must be appreciated that these materials are in most cases over 300 million years old, from parts of this world that have in the past constantly moved. This happened by Continents and Sea changing places, by earth movements, earthquakes and by volcanic eruptions.</p>

    <p>In the course of developing a quarry, considerable variation may occur in the colouration and veining of the stone extracted. Complete uniformity of appearance should not be expected. Each type/piece of marble is unique and has different characteristics - no two pieces of marble can ever be the same. Some marbles and stone can even have fossilised remains of shells, fish, and animals embedded in them.</p>

    <p>Marble, Granite, Slate and Stone are sold throughout the world in this 'imperfect' condition. This can vary from hairline cracks in some types, to extensive brecciations in others. It is commonplace to stop, cramp and fill these materials to make good, strengthen and reinforce. Such repairs should therefore be regarded as commonplace and not treated as defective.</p>

    <p>Marble, Slate and Stone are porous materials even when their surface is polished and should therefore be treated with care. Wine, Cigarettes, Coke, Acidic Products, Fruit, Oils etc. could potentially stain or remove the polish from the material. Granite is extremely hard and is not easily marked or damaged.</p>

    <p>We hope this information will help you understand and appreciate Natural Quarried Materials. </p>


<%- end %>
