<%- content_for :main_canvas do %>

  <h2>Clients</h2>

    <p><h5>We have an extensive array of important clients, some of which include:</h5></p>

                <table>
                        <tbody>
                        <tr>
                                <th></th>

                                <th></th>


                                <th></th>
                        </tr>

                        <tr>

                                <td>
                                        Client 1
                                </td>
                                <td>
                                        Client 2
                                </td>
                                <td>
                                        Client 3
                                </td>

                        </tr>

                        <tr>
                                <th></th>

                                <th></th>


                                <th></th>
                        </tr>

                        <tr>

                                <td>
                                        Client 4
                                </td>
                                <td>
                                        Client 5
                                </td>
                                <td>
                                        Client 6
                                </td>

                        </tr>

                        </tbody>
                </table>
<%- end %>