
<%- content_for :main_canvas do %>
  <h2>Collections</h2>

  <p>
  <h5>We stock a variety of products in Marble &amp; Limestone, Natural Stone and Wooden materials. Alongside our impressive fireplace display, we have many working models of living flame gas fires suitable for all chimney types as well as the latest conventional living flame gas fires not requiring a chimney.
  We also have a range of electric fires, either inset, free standing or wall mounted models.</h5>
  </p>

  <p>
    We believe that with our installation service, carried out by our own master craftsmen, we offer a reliable, efficient and value for money service with satisfaction guaranteed.
  </p>

  <p>
    In addition to our offerings on this site, we also offer a bespoke service to meet your individual needs. Select the options on the left to view selected models.
  </p>

  <p>
    Our site is currently being updated, we expect further images of our offerings to be available soon.
  </p>

  <p><%= link_to "Contact us", site_contact_path(:show=>"form"), :title=>"View contact form"%> if you would like more information.</p>

<%- end %>
